<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Labeling - Error</title>
        <%- include('./partials/head/meta'); %>
        <%- include('./partials/head/link'); %>
    </head>
    <body class="vh-100 mw-100 d-flex flex-column justify-content-between">
        <%- include('./partials/header'); %>
        <main>
            <h1 class="text-center mb-3">
                <i class="bi <%= locals.icon || "bi-bug-fill" %>"></i>
                <%= locals.title || "An Unexpected Error Has Occurred!" %>
            </h1>
            <% if (locals.message) { %>
                <p class="text-center font-monospace">
                    <%= locals.message %>
                </p>
            <% } %>
            <%- include('./partials/home-button'); %>
        </main>
        <%- include('./partials/footer'); %>
        <%- include('./partials/scripts/general'); %>
    </body>
</html>