<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Labeling - Error</title>
        <%- include('./partials/head/meta'); %>
        <%- include('./partials/head/link'); %>
    </head>
    <body class="min-vh-100 mw-100 d-flex flex-column justify-content-between">
        <%- include('./partials/header'); %>
        <main>
            <h1 class="text-center mb-3">
                <i class="bi <%= locals.icon || "bi-bug-fill" %>"></i>
                <%= locals.title || "An Unexpected Error Has Occurred!" %>
            </h1>
            <% if (locals.message) { %>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <pre class="border rounded"><code class="language-plaintext"><%= locals.message %></code></pre>
                        </div>
                    </div>
                </div>
            <% } %>
            <%- include('./partials/home-button'); %>
        </main>
        <%- include('./partials/footer'); %>
        <%- include('./partials/scripts/general'); %>
        <%- include('./partials/scripts/hljs'); %>
    </body>
</html>